.navdiv{
    font-size: 11px; 
    text-align: center;
    margin: 0;
    padding : 0;
    background-color: rgb(255, 255, 255);
    font-family: "Public Sans", serif;
}

.navbar{
    border: 3px;
    border-color: black;
    margin: 0;
    padding: 0;

}

.navbutton{
    border:none;
    border-radius : 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(to right, #86e4a1 0%, #81d1e0 100%);

}

.logo{
    float:left;
    padding-top: 14px;
}

.firstpanel{
    padding: 100px;
    justify-content:left;

}
.boldquote{
    font-weight: 400;
    color: hsl(233, 26%, 24%);

}
.fp_taste{
    color:hsl(233, 8%, 62%)
}
.fpbutton{
    background: linear-gradient(to right, #86e4a1 0%, #81d1e0 100%);
    border-radius: 20px;
    border: none;
    text-align: center;
    padding: 12px;
    width:150px;
    color: hsl(0, 0%, 100%);

}
li{
    display: inline;
    padding: 20px;
}

.logo{
    float: left;
}
.firstpanel{
    width: 100%;
    padding: 10rem 4rem 15rem 4rem;
    background-color: hsl(0, 0%, 98%);
    background-image: url(images/bg-intro-desktop.svg);
    background-attachment: local;
    background-size: 1300px;
    background-position: 125%;
    background-repeat: no-repeat;

}
.firstpanel_text{
    margin:0;
    padding:0;
}
.secondpanel{
    padding: 10rem 4rem 15rem 4rem;
}

.secondpanel_text{
    margin:0;
    padding:0;
}



.intropanelimg{
    height:100%;
    width:100%;
}



body{
    margin:0;
    padding:0;
    background-color: hsl(220, 16%, 96%);
    background-repeat: no-repeat;
    background-position: 500px;
    font-size: 18px;
    font-family: "Public Sans", serif;
}